# Pandas Project Exercise 

# The Data

This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things.

All personally identifying information has been removed from the data.

Acknowledgements
The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.


----------------------------

#### NOTE: Names, Emails, Phone Numbers, and Credit Card numbers in the data are synthetic and not real information from people. The hotel data is real from the publication listed above.

## <div style="text-align: center">Data Column Reference</div>

<table><thead><tr class="rowsep-1"><th scope="col"><strong>Variable</strong></th><th scope="col"><strong>Type</strong></th><th scope="col"><strong>Description</strong></th><th scope="col"><strong>Source/Engineering</strong></th></tr></thead><tbody><tr><th scope="row"><em>ADR</em></th><td>Numeric</td><td>Average Daily Rate as defined by <a name="bbib5" href="#bib5" class="workspace-trigger">[5]</a></td><td>BO, BL and TR / Calculated by dividing the sum of all lodging transactions by the total number of staying nights</td></tr><tr><th scope="row"><em>Adults</em></th><td>Integer</td><td>Number of adults</td><td>BO and BL</td></tr><tr><th scope="row"><em>Agent</em></th><td>Categorical</td><td>ID of the travel agency that made the booking<a name="btbl1fna" href="#tbl1fna" class="workspace-trigger"><sup>a</sup></a></td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateDayOfMonth</em></th><td>Integer</td><td>Day of the month of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateMonth</em></th><td>Categorical</td><td>Month of arrival date with 12 categories: “January” to “December”</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateWeekNumber</em></th><td>Integer</td><td>Week number of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateYear</em></th><td>Integer</td><td>Year of arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>AssignedRoomType</em></th><td>Categorical</td><td>Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due to hotel operation reasons (e.g. overbooking) or by customer request. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>Babies</em></th><td>Integer</td><td>Number of babies</td><td>BO and BL</td></tr><tr><th scope="row"><em>BookingChanges</em></th><td>Integer</td><td>Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation</td><td>BO and BL/Calculated by adding the number of unique iterations that change some of the booking attributes, namely: persons, arrival date, nights, reserved room type or meal</td></tr><tr><th scope="row"><em>Children</em></th><td>Integer</td><td>Number of children</td><td>BO and BL/Sum of both payable and non-payable children</td></tr><tr><th scope="row"><em>Company</em></th><td>Categorical</td><td>ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons</td><td>BO and BL.</td></tr><tr><th scope="row"><em>Country</em></th><td>Categorical</td><td>Country of origin. Categories are represented in the ISO 3155–3:2013 format <a name="bbib6" href="#bib6" class="workspace-trigger">[6]</a></td><td>BO, BL and NT</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>CustomerType</em></th><td rowspan="5">Categorical</td><td>Type of booking, assuming one of four categories:</td><td rowspan="5">BO and BL</td></tr><tr><td>Contract - when the booking has an allotment or other type of contract associated to it;</td></tr><tr><td>Group – when the booking is associated to a group;</td></tr><tr><td>Transient – when the booking is not part of a group or contract, and is not associated to other transient booking;</td></tr><tr><td>Transient-party – when the booking is transient, but is associated to at least other transient booking</td></tr><tr><th scope="row"><em>DaysInWaitingList</em></th><td>Integer</td><td>Number of days the booking was in the waiting list before it was confirmed to the customer</td><td>BO/Calculated by subtracting the date the booking was confirmed to the customer from the date the booking entered on the PMS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="7"><em>DepositType</em></th><td rowspan="7">Categorical</td><td>Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories:</td><td rowspan="2">BO and TR/Value calculated based on the payments identified for the booking in the transaction (TR) table before the booking׳s arrival or cancellation date.</td></tr><tr><td rowspan="3">No Deposit – no deposit was made;</td></tr><tr><td>In case no payments were found the value is “No Deposit”.</td></tr><tr><td rowspan="2">If the payment was equal or exceeded the total cost of stay, the value is set as “Non Refund”.</td></tr><tr><td rowspan="2">Non Refund – a deposit was made in the value of the total stay cost;</td></tr><tr><td rowspan="2">Otherwise the value is set as “Refundable”</td></tr><tr><td>Refundable – a deposit was made with a value under the total cost of stay.</td></tr><tr><th scope="row"><em>DistributionChannel</em></th><td>Categorical</td><td>Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and DC</td></tr><tr><th scope="row"><em>IsCanceled</em></th><td>Categorical</td><td>Value indicating if the booking was canceled (1) or not (0)</td><td>BO</td></tr><tr><th scope="row"><em>IsRepeatedGuest</em></th><td>Categorical</td><td>Value indicating if the booking name was from a repeated guest (1) or not (0)</td><td>BO, BL and C/ Variable created by verifying if a profile was associated with the booking customer. If so, and if the customer profile creation date was prior to the creation date for the booking on the PMS database it was assumed the booking was from a repeated guest</td></tr><tr><th scope="row"><em>LeadTime</em></th><td>Integer</td><td>Number of days that elapsed between the entering date of the booking into the PMS and the arrival date</td><td>BO and BL/ Subtraction of the entering date from the arrival date</td></tr><tr><th scope="row"><em>MarketSegment</em></th><td>Categorical</td><td>Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and MS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>Meal</em></th><td rowspan="5">Categorical</td><td>Type of meal booked. Categories are presented in standard hospitality meal packages:</td><td rowspan="5">BO, BL and ML</td></tr><tr><td>Undefined/SC – no meal package;</td></tr><tr><td>BB – Bed &amp; Breakfast;</td></tr><tr><td>HB – Half board (breakfast and one other meal – usually dinner);</td></tr><tr><td>FB – Full board (breakfast, lunch and dinner)</td></tr><tr><th scope="row"><em>PreviousBookingsNotCanceled</em></th><td>Integer</td><td>Number of previous bookings not cancelled by the customer prior to the current booking</td><td>BO and BL / In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and not canceled.</td></tr><tr><th scope="row"><em>PreviousCancellations</em></th><td>Integer</td><td>Number of previous bookings that were cancelled by the customer prior to the current booking</td><td>BO and BL/ In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and canceled.</td></tr><tr><th scope="row"><em>RequiredCardParkingSpaces</em></th><td>Integer</td><td>Number of car parking spaces required by the customer</td><td>BO and BL</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="4"><em>ReservationStatus</em></th><td rowspan="4">Categorical</td><td>Reservation last status, assuming one of three categories:</td><td rowspan="4">BO</td></tr><tr><td>Canceled – booking was canceled by the customer;</td></tr><tr><td>Check-Out – customer has checked in but already departed;</td></tr><tr><td>No-Show – customer did not check-in and did inform the hotel of the reason why</td></tr><tr><th scope="row"><em>ReservationStatusDate</em></th><td>Date</td><td>Date at which the last status was set. This variable can be used in conjunction with the <em>ReservationStatus</em> to understand when was the booking canceled or when did the customer checked-out of the hotel</td><td>BO</td></tr><tr><th scope="row"><em>ReservedRoomType</em></th><td>Categorical</td><td>Code of room type reserved. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>StaysInWeekendNights</em></th><td>Integer</td><td>Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/ Calculated by counting the number of weekend nights from the total number of nights</td></tr><tr><th scope="row"><em>StaysInWeekNights</em></th><td>Integer</td><td>Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/Calculated by counting the number of week nights from the total number of nights</td></tr><tr><th scope="row"><em>TotalOfSpecialRequests</em></th><td>Integer</td><td>Number of special requests made by the customer (e.g. twin bed or high floor)</td><td>BO and BL/Sum of all special requests</td></tr></tbody></table>

-----------

# TASKS

**Complete the tasks shown in bold below. The expected output is shown in a cell below. Be careful not to run the cell above the expected output, as it will clear the expected output. Try your best to solve these in one line of pandas code (not every single question can be solved in one line, but many can be!) Refer to solutions notebook and video to view possible solutions. NOTE: Many tasks have multiple correct solution methods!**

-----
### TASK: Run the following code to read in the "hotel_booking_data.csv" file. Feel free to explore the file a bit before continuing with the rest of the exercise.

In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\manis\\Downloads\\machine_learning\\03-Pandas'

In [3]:
hotels= pd.read_csv('C:\\Users\\manis\\Downloads\\machine_learning\\03-Pandas\\hotel_booking_data.csv')

In [4]:
hotels = pd.read_csv("hotel_booking_data.csv")

In [5]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

---
**TASK: How many rows are there?**

In [6]:
# CODE HERE
hotels.index

RangeIndex(start=0, stop=119390, step=1)

In [7]:
len(hotels)

119390

119390

**TASK: Is there any missing data? If so, which column has the most missing data?**

In [8]:
# CODE HERE
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [9]:
hotels['company'].isnull().sum()

112593

In [10]:
print(f"Yes, missing data, company column missing: {hotels['company'].isnull().sum()} rows.")    #Use double string for f-string

Yes, missing data, company column missing: 112593 rows.

Yes, missing data, company column missing: 112593 rows.

**TASK: Drop the "company" column from the dataset.**

In [11]:
# CODE HERE
hotels=hotels.drop('company',axis=1)

In [12]:
hotels.head(1)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322

In [13]:
'company' in hotels

False

In [14]:
'hotel' in hotels

True

**TASK: What are the top 5 most common country codes in the dataset?**

In [15]:
# CODE HERE
hotels['country'].unique

<bound method Series.unique of 0         PRT
1         PRT
2         GBR
3         GBR
4         GBR
         ...
119385    BEL
119386    FRA
119387    DEU
119388    GBR
119389    DEU
Name: country, Length: 119390, dtype: object>

In [16]:
hotels['country'].value_counts()[:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

**TASK: What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?**

In [17]:
# CODE HERE
hotels[['adr','name']]

           adr                name
0         0.00       Ernest Barnes
1         0.00        Andrea Baker
2        75.00      Rebecca Parker
3        75.00        Laura Murray
4        98.00         Linda Hines
...        ...                 ...
119385   96.14     Claudia Johnson
119386  225.43      Wesley Aguilar
119387  157.71        Mary Morales
119388  104.40  Caroline Conley MD
119389  151.20      Ariana Michael

[119390 rows x 2 columns]

In [18]:
hotels[['adr','name']].sort_values('adr',ascending=False)

            adr            name
48515   5400.00   Daniel Walter
111403   510.00     Jesus Mason
15083    508.00  Samuel Hammond
103912   451.50  Jessica Morris
13142    450.00       Amy Banks
...         ...             ...
110204     0.00    Ashley Lewis
13973      0.00     Yvonne Pena
90028      0.00    Kayla Reilly
0          0.00   Ernest Barnes
14969     -6.38    Chase Santos

[119390 rows x 2 columns]

In [19]:
hotels[['adr','name']].sort_values('adr',ascending=False).iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

In [20]:
hotels.sort_values('adr',ascending=False)[['adr','name']].iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

adr              5400
name    Daniel Walter
Name: 48515, dtype: object

**TASK: The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?**

In [21]:
# CODE HERE
hotels['adr'].mean()

101.83112153446453

In [22]:
round(hotels['adr'].mean(),2)

101.83

101.83

**TASK: What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.**

In [23]:
# CODE HERE
hotels['total_nights']=hotels['stays_in_weekend_nights']+hotels['stays_in_week_nights']

In [24]:
hotels['total_nights'].mean()

3.4279001591423066

In [25]:
round(hotels['total_nights'].mean(),2)

3.43

3.43

**TASK: What is the average total cost for a stay in the dataset? Not *average daily cost*, but *total* stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points.**

In [26]:
# CODE HERE
hotels.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card', 'total_nights'],
      dtype='object')

adr=total cost/ total nights;
total cost=adr*total nights;
avg total cost=(total cost).mean()

In [27]:
hotels['total_cost']=hotels['total_nights']*hotels['adr']

In [28]:
hotels['total_cost'].mean()

357.8482078063524

In [29]:
round(hotels['total_cost'].mean(),2)

357.85

357.85

**TASK: What are the names and emails of people who made exactly 5 "Special Requests"?**

In [30]:
# wrong
hotels[['name','email','total_of_special_requests']].sort_values('total_of_special_requests',ascending=False)[:5]

                   name                   email  total_of_special_requests
98674   Denise Campbell      Denise_C@gmail.com                          5
27288    Crystal Horton      Crystal.H@mail.com                          5
101569     Kayla Murphy  Kayla.Murphy@yahoo.com                          5
98410      Holly Arroyo   Arroyo_Holly@mail.com                          5
14922    Timothy Torres  TTorres@protonmail.com                          5

In [31]:
hotels[hotels['total_of_special_requests']==5]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_nights,total_cost
7860,Resort Hotel,1,39,2016,August,36,30,0,5,2,...,0,5,Canceled,2016-07-22,Amanda Harper,Amanda.H66@yahoo.com,864-257-9807,************9835,5,795.00
11125,Resort Hotel,0,108,2017,April,16,21,4,7,2,...,0,5,Check-Out,2017-05-02,Laura Sanders,Sanders_Laura@hotmail.com,120-754-3942,************2345,11,935.00
14596,Resort Hotel,0,22,2015,July,28,9,0,3,3,...,1,5,Check-Out,2015-07-12,Tommy Ortiz,Tommy_O@hotmail.com,377-098-5937,************7011,3,542.01
14921,Resort Hotel,0,185,2017,February,8,24,2,2,1,...,0,5,Check-Out,2017-02-28,Gilbert Miller,Miller.Gilbert@aol.com,806-574-2045,************9282,4,158.40
14922,Resort Hotel,0,134,2017,April,15,13,0,3,1,...,0,5,Check-Out,2017-04-16,Timothy Torres,TTorres@protonmail.com,422-113-4918,************1314,3,184.50
24630,Resort Hotel,0,76,2016,May,21,20,2,5,2,...,0,5,Check-Out,2016-05-27,Jennifer Weaver,Jennifer_W@aol.com,341-150-8437,************8923,7,889.98
27288,Resort Hotel,0,210,2016,August,33,12,4,10,2,...,0,5,Check-Out,2016-08-26,Crystal Horton,Crystal.H@mail.com,736-187-2543,************4401,14,1491.70
27477,Resort Hotel,0,3,2016,August,35,24,2,5,2,...,0,5,Check-Out,2016-08-31,Brittney Burke,Burke_Brittney16@att.com,825-860-3212,************5412,7,1392.02
29906,Resort Hotel,0,47,2016,November,45,5,2,2,2,...,0,5,Check-Out,2016-11-09,Cynthia Cabrera,Cabrera.Cynthia@xfinity.com,280-973-9357,************7822,4,299.20
29949,Resort Hotel,0,24,2017,March,13,29,0,2,2,...,0,5,Check-Out,2017-03-31,Sarah Floyd,Sarah_F@gmail.com,100-586-7149,************3600,2,126.00
32267,Resort Hotel,0,84,2017,January,3,18,0,2,2,...,0,5,Check-Out,2017-01-20,Michelle Villa,Michelle.Villa@aol.com,494-968-0905,************2567,2,201.00
39027,Resort Hotel,0,231,2017,August,31,2,0,4,2,...,1,5,Check-Out,2017-08-06,Nichole Hebert,Hebert.Nichole@gmail.com,474-796-1175,************4645,4,900.00
39129,Resort Hotel,0,231,2017,August,31,2,2,4,2,...,1,5,Check-Out,2017-08-08,Lindsey Mckenzie,Lindsey.Mckenzie@att.com,342-438-6097,************3635,6,1891.98
39525,Resort Hotel,0,178,2017,August,33,14,1,5,2,...,0,5,Check-Out,2017-08-20,Ashley Edwards,Edwards.Ashley@yahoo.com,626-492-1882,************2206,6,1575.00
70114,City Hotel,1,51,2017,June,23,9,2,3,2,...,0,5,Canceled,2017-05-09,Christopher Torres,Torres.Christopher@gmail.com,860-988-0351,************3761,5,390.00
78819,City Hotel,0,30,2015,October,42,14,0,3,2,...,0,5,Check-Out,2015-10-17,Mrs. Tara Sullivan DVM,Mrs..DVM@xfinity.com,988-952-5135,************3870,3,288.90
78820,City Hotel,0,30,2015,October,42,14,0,3,2,...,0,5,Check-Out,2015-10-17,Michaela Brown,MichaelaBrown@att.com,548-026-5186,************5197,3,288.90
78822,City Hotel,0,30,2015,October,42,14,0,3,2,...,0,5,Check-Out,2015-10-17,Kurt Maldonado MD,KMD15@xfinity.com,596-909-0721,************6878,3,288.90
97072,City Hotel,0,54,2016,September,37,10,1,1,2,...,0,5,Check-Out,2016-09-12,Jason Richardson,Jason.R@zoho.com,723-140-0567,************9650,2,334.00
97099,City Hotel,0,54,2016,September,37,10,1,1,2,...,0,5,Check-Out,2016-09-12,Terri Hurley,THurley@xfinity.com,942-403-4963,************7738,2,278.00
97261,City Hotel,0,125,2016,September,37,4,4,6,2,...,0,5,Check-Out,2016-09-14,Mrs. Caitlin Webb,Mrs._W@comcast.net,428-370-6078,************2591,10,997.90
98410,City Hotel,0,3,2016,September,40,26,1,2,3,...,0,5,Check-Out,2016-09-29,Holly Arroyo,Arroyo_Holly@mail.com,552-014-6735,************1578,3,800.01
98674,City Hotel,0,105,2016,September,40,29,1,3,2,...,0,5,Check-Out,2016-10-03,Denise Campbell,Denise_C@gmail.com,611-914-5212,************2474,4,387.60
99887,City Hotel,0,26,2016,October,43,17,1,2,2,...,0,5,Check-Out,2016-10-20,Michael Smith,Michael.S42@aol.com,543-085-3867,************3962,3,338.64
99888,City Hotel,0,26,2016,October,43,17,1,2,2,...,0,5,Check-Out,2016-10-20,Dr. Trevor Sellers,Dr._S@aol.com,365-005-8392,************4271,3,338.64
101569,City Hotel,0,23,2016,November,46,11,1,2,2,...,0,5,Check-Out,2016-11-14,Kayla Murphy,Kayla.Murphy@yahoo.com,645-326-3016,************7445,3,374.01
102061,City Hotel,0,46,2016,November,47,18,2,3,2,...,0,5,Check-Out,2016-11-23,Taylor Martinez,Taylor.Martinez@hotmail.com,290-360-7041,************5330,5,340.35
109511,City Hotel,0,36,2017,April,15,10,1,2,2,...,0,5,Check-Out,2017-04-13,Charles Wilson,Charles_Wilson@yahoo.com,469-999-0942,************7158,3,420.00
109590,City Hotel,0,74,2017,April,15,9,2,3,2,...,0,5,Check-Out,2017-04-14,Tyler Allison,Tyler.A@protonmail.com,685-168-8139,************3021,5,581.25
110082,City Hotel,0,120,2017,April,16,17,1,4,2,...,0,5,Check-Out,2017-04-22,Matthew Bailey,Matthew_Bailey@aol.com,285-274-5663,************9766,5,540.00
110083,City Hotel,0,120,2017,April,16,17,1,4,1,...,0,5,Check-Out,2017-04-22,Charlotte Acevedo,Charlotte_A@verizon.com,345-877-4448,************5955,5,540.00
111909,City Hotel,0,201,2017,May,20,14,2,2,2,...,0,5,Check-Out,2017-05-18,Darrell Brennan,Brennan_Darrell51@hotmail.com,739-153-3639,************5835,4,500.40
111911,City Hotel,0,201,2017,May,20,14,2,2,2,...,0,5,Check-Out,2017-05-18,Melinda Jensen,MelindaJensen@zoho.com,129-892-8585,************6636,4,500.40
113915,City Hotel,0,51,2017,June,23,9,2,3,2,...,0,5,Check-Out,2017-06-14,Terry Arnold,Arnold.Terry@zoho.com,923-765-3627,************1007,5,390.00
114770,City Hotel,0,177,2017,June,25,24,2,1,3,...,0,5,Check-Out,2017-06-27,Mary Nguyen,Nguyen.Mary@protonmail.com,557-683-4481,************7351,3,499.50
114909,City Hotel,0,207,2017,June,25,24,2,2,2,...,0,5,Check-Out,2017-06-28,Lindsay Cuevas,Lindsay.Cuevas40@mail.com,741-276-6171,************7249,4,396.00
116455,City Hotel,0,219,2017,July,28,14,2,5,1,...,0,5,Check-Out,2017-07-21,Cynthia Hernandez,CynthiaHernandez@xfinity.com,713-506-8850,************4500,7,693.70
116457,City Hotel,0,219,2017,July,28,14,2,5,3,...,0,5,Check-Out,2017-07-21,Angela Hawkins,Angela_H@gmail.com,198-157-4544,************2619,7,1096.20
118817,City Hotel,0,217,2017,August,34,21,1,4,2,...,0,5,Check-Out,2017-08-26,Sue Lawson,Sue.L52@comcast.net,287-649-4214,************2191,5,675.00
119161,City Hotel,0,205,2017,August,35,29,0,2,2,...,0,5,Check-Out,2017-08-31,Alyssa Richards,Alyssa_Richards@aol.com,737-736-4293,************3090,2,198.00

In [32]:
hotels[hotels['total_of_special_requests']==5][['name','email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

**TASK: What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)**

In [33]:
#CODE HERE
hotels.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card', 'total_nights', 'total_cost'],
      dtype='object')

In [34]:
hotels['is_repeated_guest']

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: is_repeated_guest, Length: 119390, dtype: int64

In [35]:
hotels['is_repeated_guest'].unique()

array([0, 1], dtype=int64)

In [36]:
# So 1= repeated guest and 0= not repeated guest.

In [37]:
#lets see how many were repeated guest
sum(hotels['is_repeated_guest']==1)

3810

In [38]:
# so in total,3810 were repeated guest.To get in percent form,divide by length of hotels
sum(hotels['is_repeated_guest']==1)/ len(hotels)

0.03191222045397437

In [39]:
#lets multiply by 100 & round this,
round((sum(hotels['is_repeated_guest']==1)/ len(hotels))*100,2)

3.19

3.19

**TASK: What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)**

In [40]:
#CODE HERE
hotels['name'].unique()

array(['Ernest Barnes', 'Andrea Baker', 'Rebecca Parker', ...,
       'Wesley Aguilar', 'Caroline Conley MD', 'Ariana Michael'],
      dtype=object)

In [41]:
hotels['name'].value_counts()

Michael Johnson      48
Robert Smith         48
Michael Smith        47
John Smith           46
Christopher Smith    44
                     ..
Timothy Lane          1
Jimmy Griffin         1
Colleen Kelly         1
Lucas Young           1
Ariana Michael        1
Name: name, Length: 81503, dtype: int64

In [42]:
hotels['name']

0              Ernest Barnes
1               Andrea Baker
2             Rebecca Parker
3               Laura Murray
4                Linda Hines
                 ...
119385       Claudia Johnson
119386        Wesley Aguilar
119387          Mary Morales
119388    Caroline Conley MD
119389        Ariana Michael
Name: name, Length: 119390, dtype: object

In [43]:
hotels['name'].apply(lambda name:name.split())

0               [Ernest, Barnes]
1                [Andrea, Baker]
2              [Rebecca, Parker]
3                [Laura, Murray]
4                 [Linda, Hines]
                   ...
119385        [Claudia, Johnson]
119386         [Wesley, Aguilar]
119387           [Mary, Morales]
119388    [Caroline, Conley, MD]
119389         [Ariana, Michael]
Name: name, Length: 119390, dtype: object

In [44]:
hotels['name'].apply(lambda name:name.split()[-1]) #here MD is considered last name which is wrong.Do indexing using[1]

0          Barnes
1           Baker
2          Parker
3          Murray
4           Hines
           ...
119385    Johnson
119386    Aguilar
119387    Morales
119388         MD
119389    Michael
Name: name, Length: 119390, dtype: object

In [45]:
hotels['name'].apply(lambda name:name.split()[1])

0          Barnes
1           Baker
2          Parker
3          Murray
4           Hines
           ...
119385    Johnson
119386    Aguilar
119387    Morales
119388     Conley
119389    Michael
Name: name, Length: 119390, dtype: object

In [46]:
hotels['name'].apply(lambda name:name.split()[-1]).value_counts()[:5]  #indexing using[-1] is giving less value comp to [1]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

In [47]:
hotels['name'].apply(lambda name:name.split()[1]).value_counts()[:5] #This is right.

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

In [48]:
#By using fn
def last_name(name):
    return name.split()[1]

In [49]:
hotels['name'].apply(last_name).value_counts()[:5]

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

**TASK: What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation)**

In [50]:
#CODE HERE
hotels.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card', 'total_nights', 'total_cost'],
      dtype='object')

In [51]:
hotels[['name','children','babies']].sort_values(['children','babies'],ascending=False)

                  name  children  babies
328      Jamie Ramirez      10.0       0
6748       Jason Kelly       3.0       0
7666       Joshua Kane       3.0       0
16360      Ashley Cole       3.0       0
18745   Barbara Watson       3.0       0
...                ...       ...     ...
119389  Ariana Michael       0.0       0
40600     Craig Campos       NaN       0
40667     David Murphy       NaN       0
40679     Frank Burton       NaN       0
41160    Jerry Roberts       NaN       0

[119390 rows x 3 columns]

In [52]:
#lets combine total kids together
hotels['total_kids']=hotels['children']+hotels['babies']
hotels['total_kids'].count()

119386

In [53]:
hotels[['name','babies','children','total_kids']].sort_values('total_kids',ascending=False)

                     name  babies  children  total_kids
328         Jamie Ramirez       0      10.0        10.0
46619     Nicholas Parker      10       0.0        10.0
78656       Marc Robinson       9       0.0         9.0
19718   Mr. Jeffrey Cross       0       3.0         3.0
107837      Albert French       2       1.0         3.0
...                   ...     ...       ...         ...
119389     Ariana Michael       0       0.0         0.0
40600        Craig Campos       0       NaN         NaN
40667        David Murphy       0       NaN         NaN
40679        Frank Burton       0       NaN         NaN
41160       Jerry Roberts       0       NaN         NaN

[119390 rows x 4 columns]

In [54]:
hotels[['name','adults','babies','children','total_kids']].sort_values('total_kids',ascending=False)[:3]

                  name  adults  babies  children  total_kids
328      Jamie Ramirez       2       0      10.0        10.0
46619  Nicholas Parker       2      10       0.0        10.0
78656    Marc Robinson       1       9       0.0         9.0

                  name  adults  total_kids  babies  children
328      Jamie Ramirez       2        10.0       0      10.0
46619  Nicholas Parker       2        10.0      10       0.0
78656    Marc Robinson       1         9.0       9       0.0

**TASK: What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)**

In [55]:
def code(number):
    return number.split('-')[0]

In [56]:
hotels['phone-number'].apply(code)

0         669
1         858
2         652
3         364
4         713
         ...
119385    403
119386    238
119387    395
119388    531
119389    422
Name: phone-number, Length: 119390, dtype: object

In [57]:
hotels['phone-number'].apply(code).value_counts(ascending=False)[:3]

799    168
185    167
541    166
Name: phone-number, dtype: int64

In [58]:
hotels['phone-number'].apply(lambda number:number.split('-')[0]).value_counts(ascending=False)

799    168
185    167
541    166
739    163
763    163
      ...
896    106
973    105
577    105
818    102
970     97
Name: phone-number, Length: 900, dtype: int64

In [59]:
print('Code - Total Count')
hotels['phone-number'].apply(lambda number:number.split('-')[0]).value_counts(ascending=False)[:3]

Code - Total Count

799    168
185    167
541    166
Name: phone-number, dtype: int64

In [60]:
print('Code - Total Count')
hotels['phone-number'].apply(lambda num:num[:3]).value_counts()[:3]

Code - Total Count

799    168
185    167
541    166
Name: phone-number, dtype: int64

Code - Total Count

799    168
185    167
541    166
Name: phone-number, dtype: int64

**TASK: How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?**

In [61]:
#CODE HERE
hotels.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card', 'total_nights', 'total_cost',
       'total_kids'],
      dtype='object')

In [62]:
hotels['arrival_date_day_of_month']

0          1
1          1
2          1
3          1
4          1
          ..
119385    30
119386    31
119387    31
119388    31
119389    29
Name: arrival_date_day_of_month, Length: 119390, dtype: int64

In [63]:
def first15(days):
    return days in range(1,16)

In [64]:
hotels['arrival_date_day_of_month'].apply(first15).sum()

58152

In [65]:
hotels['arrival_date_day_of_month'].apply(lambda days:days in range(1,16)).sum()

58152

58152


**HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)**

In [66]:
hotels['arrival_date_week_number'].unique()

array([27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53,  1,  2,  3,  4,  5,  6,  7,
        8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
       25, 26], dtype=int64)

In [67]:
#since we dont have table col to calculate count for each day of the week,lets create using fn.
import numpy as np
def convert(day,month,year):
    return f'{day}-{month}-{year}'

In [68]:
#now that we hv fn to get day,month,yr from col we can use,lets build them,
hotels['date']=np.vectorize(convert)(hotels['arrival_date_day_of_month'],hotels['arrival_date_month'],
                                     hotels['arrival_date_year'])

In [69]:
hotels['date']

0            1-July-2015
1            1-July-2015
2            1-July-2015
3            1-July-2015
4            1-July-2015
               ...
119385    30-August-2017
119386    31-August-2017
119387    31-August-2017
119388    31-August-2017
119389    29-August-2017
Name: date, Length: 119390, dtype: object

In [70]:
#convert to datetime object
hotels['date']= pd.to_datetime(hotels['date'])

In [71]:
hotels['date']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: date, Length: 119390, dtype: datetime64[ns]

In [72]:
hotels['date'].dt.day_name()

0         Wednesday
1         Wednesday
2         Wednesday
3         Wednesday
4         Wednesday
            ...
119385    Wednesday
119386     Thursday
119387     Thursday
119388     Thursday
119389      Tuesday
Name: date, Length: 119390, dtype: object

In [73]:
hotels['date'].dt.day_name().value_counts()

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64

---

---